.topNav {
    display: flex;
    height: 6rem;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.2);

    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.logo {
    display: flex;
    padding-left: 2rem;
    flex-basis: 25%;
    align-items: center;
    font-size: 1.8rem;
}

.logo img {
    margin-right: 1rem;
}

.search {
    display: flex;
    flex-basis: 35%;
    align-items: center;
}

.search div:nth-child(1),
.search div:nth-child(2) {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.4rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 50%;
    clip-path: circle();
}

.search div:nth-child(3) {
    position: relative;
    left: 2rem;
    top: 0.1rem;
    opacity: 70%;
}

.search input {
    width: 15rem;
    height: 3rem;
    padding-left: 3.5rem;
    padding-right: 2rem;
    margin-left: -1rem;
    margin-right: 1rem;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 2rem;
    outline: none;
}

.search div:last-child {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 50%;
    clip-path: circle();
}

.personal {
    display: flex;
    align-items: center;
}

.setting {
    display: flex;
    padding-right: 1rem;
    flex-basis: 40%;
    justify-content: flex-end;
    align-items: center;
}

.setting div:first-child {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    background-color: black;
    background-size: 100%;
    clip-path: circle();
}

.setting span {
    font-size: 1.4rem;
    
    -webkit-app-region: no-drag;
}

.setting img {
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 70%;
    cursor: pointer;

    -webkit-app-region: no-drag;
}

.setting img:nth-child(3) {
    margin: 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
}

.line {
    margin: 1rem;
    width: 0.1rem;
    height: 3rem;
    background-color: aliceblue;
}