.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black transparent;
}

.centerBox {
    display: flex;
    height: calc(100vh - var(--top-height) - var(--bottom-height) - 1rem)
}
